.floatingWhatsapp {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.floatingWhatsapp .whatsappButton {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  background-color: #25d366;
  border-radius: 50%;
  user-select: none;
  box-shadow: rgb(0 0 0 / 15%) 0px 4px 12px 0px;
}

.floatingWhatsapp .whatsappButton:after {
  content: '';
  border-color: inherit;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-duration: 1.2s;
  animation-name: _pulse;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

.floatingWhatsapp .whatsappButton svg {
  fill: #fff;
  padding: 0.5rem;
}
@keyframes _pulse {
  0% {
    background: rgb(76 175 79 / 50%);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    background: rgba(76 175 79 / 50%);
    transform: scale(1.5);
    opacity: 0;
  }
}

.floatingWhatsapp .whatsappChatBox {
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  overflow: hidden;
  background-color: #fff;
  touch-action: auto;
  position: absolute;
  bottom: 7rem;
  right: 4rem;
  width: 375px;
  height: 0;
  opacity: 0;
  transition: height 0.2s ease-out;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 15%);
}

.floatingWhatsapp .whatsappChatBox.open {
  height: 265px;
  animation-name: _bounceIn;
  animation-duration: 400ms;
  transition-timing-function: ease-out;
  animation-fill-mode: both;
}

.floatingWhatsapp .whatsappChatBox.close {
  animation-name: _bounceOut;
  animation-duration: 600ms;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

@keyframes _bounceIn {
  0% {
    opacity: 0;
    transform: scale(0, 0);
    transform-origin: bottom right;
  }

  50% {
    transform: scale(1.03, 1.03);
    transform-origin: bottom right;
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
    transform-origin: bottom right;
  }
}

@keyframes _bounceOut {
  0% {
    opacity: 1;
    height: scale(1, 1);
    transform-origin: bottom right;
  }
  100% {
    opacity: 0;
    transform: scale(0, 0);
    transform-origin: bottom right;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .floatingWhatsapp .whatsappChatBox {
    right: 0;
    left: 0;
    max-width: 90%;
    margin: auto;
  }
}

.floatingWhatsapp .chatHeader {
  background-color: #075e54;
  display: flex;
  align-items: center;
  max-height: 60px;
}

.floatingWhatsapp .chatHeader .avatar {
  padding: 0.5rem;
  max-width: 20%;
}
.floatingWhatsapp .chatHeader .avatar img {
  vertical-align: middle;
}

.floatingWhatsapp .chatHeader .avatar svg {
  fill: #fff;
  vertical-align: middle;
}

.floatingWhatsapp .chatHeader .status {
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 0.5rem;
}

.floatingWhatsapp .chatHeader .statusTitle {
  font-size: 16px;
  font-weight: 700;
}

.floatingWhatsapp .chatHeader .statusSubtitle {
  font-size: 80%;
  margin-top: 0.25px;
  color: #f0f0f0;
}

.floatingWhatsapp .chatHeader .close {
  padding: 1rem;
  display: flex;
  cursor: pointer;
}

.floatingWhatsapp .chatHeader .close svg {
  fill: #fff;
  width: 24px;
  height: 24px;
}

.floatingWhatsapp .chatBody {
  padding: 20px;
  background-size: cover;
  background-repeat: repeat;
  max-height: 382px;
  background-color: #e5ddd5;
  background-image: url('./images/bg-chat-tile-dark.png');
  opacity: 0.9;
}

.floatingWhatsapp.dark .chatBody {
  background-color: #0d1418;
  background-image: url('./images/bg-chat-tile-light.png');
}

.floatingWhatsapp .chatBody .message {
  padding: 7px 14px 6px;
  background-color: #fff;
  border-radius: 0px 8px 8px;
  position: relative;
  margin-top: 4px;
  max-width: calc(100% - 120px);
  z-index: 2;
  box-shadow: rgb(0 0 0 / 13%) 0px 1px 0.5px;
}

.floatingWhatsapp.dark .chatBody .message {
  background-color: #262d31;
  box-shadow: rgb(0 0 0 / 70%) 0px 1px 0.5px;
}

.floatingWhatsapp .chatBody .accountName {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  color: rgb(17 17 17 / 50%);
}

.floatingWhatsapp.dark .chatBody .accountName {
  color: rgb(255 255 255 / 50%);
}

.floatingWhatsapp .chatBody .messageBody {
  font-size: 14px;
  line-height: 19px;
  margin-top: 4px;
  color: #111111;
  white-space: pre-wrap;
}

.floatingWhatsapp.dark .chatBody .messageBody {
  color: rgb(241 241 242 / 90%);
}

.floatingWhatsapp .chatBody .message .triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent #fff transparent transparent;
  position: absolute;
  left: -10px;
  top: 0;
}

.floatingWhatsapp.dark .chatBody .message .triangle {
  border-color: transparent #262d31 transparent transparent;
}

.floatingWhatsapp .chatBody .messageTime {
  display: flex;
  margin-top: 4px;
  font-size: 12px;
  line-height: 16px;
  color: rgb(17 17 17 / 50%);
  justify-content: flex-end;
}

.floatingWhatsapp.dark .chatBody .messageTime {
  color: rgb(255 255 255 / 50%);
}

.floatingWhatsapp .chatFooter form {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  background-color: #f0f0f0;
}

.floatingWhatsapp.dark .chatFooter form {
  background-color: #1e2428;
}

.floatingWhatsapp .chatFooter form .input {
  border-radius: 20px;
  padding: 12px 12px;
  border: none;
  background-color: #fefefe;
  width: 100%;
  transition: box-shadow 0.2s ease-in-out;
}

.floatingWhatsapp .chatFooter form .input:focus {
  border-color: #075e54;
  outline: 0;
  box-shadow: 0 0 0 1px rgb(7 94 84 / 50%);
}

.floatingWhatsapp .chatFooter form .input::placeholder {
  color: #949494;
}

.floatingWhatsapp.dark .chatFooter form .input {
  background-color: #33383b;
  color: #f1f1f2;
}

.floatingWhatsapp.dark .chatFooter form .input:focus {
  border-color: #0da896;
  outline: 0;
  box-shadow: 0 0 0 1px rgb(13 168 150 / 50%);
}

.floatingWhatsapp .chatFooter form .buttonSend {
  flex: 0;
  padding: 5px 10px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.floatingWhatsapp .chatFooter form .buttonSend svg {
  vertical-align: middle;
  fill: #919191;
}

.floatingWhatsapp.dark .chatFooter form .buttonSend svg {
  fill: rgb(104, 104, 104);
}

.floatingWhatsapp .chatFooter form .input.arabic {
  font-family: tahoma;
}

.floatingWhatsapp .chatFooter form .buttonSend:disabled {
  pointer-events: none;
  opacity: 0.5;
}
